example/flow.json
[{"id":"6ae9ffa8.77ed2","type":"tab","label":"BLE","disabled":false,"info":""},{"id":"41a5ce22.d0555","type":"inject","z":"6ae9ffa8.77ed2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["c28b62ae.8f3ca"]]},{"id":"bc6c6ff2.bb2ed","type":"debug","z":"6ae9ffa8.77ed2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"c28b62ae.8f3ca","type":"discover","z":"6ae9ffa8.77ed2","name":"","timeout":5,"x":320,"y":140,"wires":[["fc75c1dc.e4448"]]},{"id":"fc75c1dc.e4448","type":"device","z":"6ae9ffa8.77ed2","name":"ESP32","address":"24:62:AB:FD:26:8E","timeout":"20","x":460,"y":140,"wires":[["e2e78ae2.fb5888"]]},{"id":"ba110f2f.7e824","type":"characteristic","z":"6ae9ffa8.77ed2","name":"","uuid":"beb5483e-36e1-4688-b7f5-ea07361b26a8","x":750,"y":140,"wires":[["6d75318f.3d1da"]]},{"id":"e2e78ae2.fb5888","type":"service","z":"6ae9ffa8.77ed2","name":"","uuid":"4fafc201-1fb5-459e-8fcc-c5c9c331914b","x":600,"y":140,"wires":[["ba110f2f.7e824"]]},{"id":"6d75318f.3d1da","type":"notify","z":"6ae9ffa8.77ed2","name":"","period":"0","x":890,"y":140,"wires":[["bc6c6ff2.bb2ed"]]}][{"id":"f6f3338b.eded","type":"tab","label":"BLE","disabled":false,"info":""},{"id":"7c3ae491.2f3b8c","type":"device","z":"f6f3338b.eded","name":"ESP32","address":"24:62:AB:FD:26:8E","timeout":"20","x":240,"y":240,"wires":[["2dfd9cce.43d494","1bb43f5c.923351"],["ab06626.45780a","3923f9b1.c1cdf6","2dfd9cce.43d494"]]},{"id":"377fb4e8.d5a2dc","type":"characteristic","z":"f6f3338b.eded","name":"","uuid":"beb5483e-36e1-4688-b7f5-ea07361b26a8","x":550,"y":180,"wires":[["a8c9b564.ee5658"]]},{"id":"2dfd9cce.43d494","type":"service","z":"f6f3338b.eded","name":"","uuid":"4fafc201-1fb5-459e-8fcc-c5c9c331914b","x":400,"y":180,"wires":[["377fb4e8.d5a2dc"]]},{"id":"a8c9b564.ee5658","type":"notify","z":"f6f3338b.eded","name":"","period":"0","x":690,"y":180,"wires":[["52694ed9.18a83"]]},{"id":"cbdc17ff.9e7a38","type":"link in","z":"f6f3338b.eded","name":"ConnectPeripherals_PressHandler","links":["5f00c430.fd8a0c"],"x":115,"y":160,"wires":[["7c3ae491.2f3b8c"]]},{"id":"52694ed9.18a83","type":"function","z":"f6f3338b.eded","name":"","func":"msg.payload = parseFloat(msg.payload[0].toString() + '.' + msg.payload[1].toString());\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":180,"wires":[["5d80102a.5c914"]]},{"id":"5d80102a.5c914","type":"link out","z":"f6f3338b.eded","name":"Temperature_StatusSender","links":["dbd86d1.76c969"],"x":935,"y":180,"wires":[]},{"id":"ab06626.45780a","type":"delay","z":"f6f3338b.eded","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":300,"wires":[["7c3ae491.2f3b8c"]]},{"id":"1bb43f5c.923351","type":"change","z":"f6f3338b.eded","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Unknown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["7558d0.6c3e573"]]},{"id":"3923f9b1.c1cdf6","type":"change","z":"f6f3338b.eded","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Unknown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":260,"wires":[["7558d0.6c3e573"]]},{"id":"7558d0.6c3e573","type":"link out","z":"f6f3338b.eded","name":"PeripheralEnabled_StatusSender","links":["3a958202.f26c3e"],"x":935,"y":240,"wires":[]}]