example/flow.json
[{"id":"6ae9ffa8.77ed2","type":"tab","label":"BLE","disabled":false,"info":""},{"id":"41a5ce22.d0555","type":"inject","z":"6ae9ffa8.77ed2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["c28b62ae.8f3ca"]]},{"id":"bc6c6ff2.bb2ed","type":"debug","z":"6ae9ffa8.77ed2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"c28b62ae.8f3ca","type":"discover","z":"6ae9ffa8.77ed2","name":"","timeout":5,"x":320,"y":140,"wires":[["fc75c1dc.e4448"]]},{"id":"fc75c1dc.e4448","type":"device","z":"6ae9ffa8.77ed2","name":"ESP32","address":"24:62:AB:FD:26:8E","timeout":"20","x":460,"y":140,"wires":[["e2e78ae2.fb5888"]]},{"id":"ba110f2f.7e824","type":"characteristic","z":"6ae9ffa8.77ed2","name":"","uuid":"beb5483e-36e1-4688-b7f5-ea07361b26a8","x":750,"y":140,"wires":[["6d75318f.3d1da"]]},{"id":"e2e78ae2.fb5888","type":"service","z":"6ae9ffa8.77ed2","name":"","uuid":"4fafc201-1fb5-459e-8fcc-c5c9c331914b","x":600,"y":140,"wires":[["ba110f2f.7e824"]]},{"id":"6d75318f.3d1da","type":"notify","z":"6ae9ffa8.77ed2","name":"","period":"0","x":890,"y":140,"wires":[["bc6c6ff2.bb2ed"]]}]